/* 960px Screen layout */
/**/
body.sem_admin_menu {
	padding-top: 15px;
}

#wrapper {
	max-width: 960px;
	min-width: 720px;
	margin: 0 auto;
}

.pad {
	padding: 0 18px;
}

.clear {
	clear: both;
}

#sitename {
	line-height: 60px;
}

#search {
	margin: 12px 0;
	float: right;
	text-align: right;
}

.header_nav ul {
	display: block;
	float: left;
	margin: 0;
	line-height: 36px;
}

.header_nav .meta_nav {
	float: right;
}

.header_nav li {
	display: inline;
	float: left;
	margin: 0 6px 0 0;
}

.header_nav a {
	display: inline;
	padding: 0px 6px;
}

.meta_nav li {
	margin: 0 0 0 2px;
}

.meta_nav a {
	margin: 0;
	padding: 0;
}

.meta_nav a:hover {
	background: #eee;
}

.meta_nav img {
	vertical-align: middle;
}

.header_nav ul ul {
	display: none;
}

.footer_nav {
	text-align: center;
}

.footer_nav ul {
	display: block;
	margin: 0;
}

.footer_nav li {
	display: inline;
	margin: 0 6px;
}

.footer {
	text-align: center;
}

#content {
	width: 66.66%;
	min-width: 480px;
	max-width: 640px;
	float: left;
}

#sidebar {
	width: 33.33%;
	min-width: 240px;
	max-width: 320px;
	float: right;
}

.widget {
	margin: 16px 0;
}

.footer_box {
	margin: 0 0 16px 0;
}

.footer_box {
	width: 33.33%;
	min-width: 240px;
	max-width: 320px;
	float: left;
}

.footer_box:nth-child(3n) {
	float: right;
}

.footer_box:nth-child(3n+1) {
	float: left;
	clear: both;
}

.footer_box:nth-child(3n+2) {
	float: left;
}

.widget li,
.footer_box li {
	list-style: square;
	margin-left: 18px;
}

.widget li li,
.footer_box li li {
	margin-left: 12px;
}

/* 480px Handset layout */
/**/
@media only screen and (max-width: 720px) {
	#wrapper {
		min-width: 480px;
		max-width: 480px;
	}
	
	#content,
	#sidebar {
		width: 100%;
		float: none;
		min-width: 100%;
		max-width: 100%;
	}
	
	.widget,
	.footer_box {
		width: 50%;
		float: left;
	}
	
	.footer_box:nth-child(3n+1) {
		clear: none;
	}
	
	.widget:nth-child(2n),
	.footer_box:nth-child(2n) {
		float: right;
	}
	
	.widget:nth-child(2n+1),
	.footer_box:nth-child(2n+1) {
		float: left;
		clear: both;
	}
}
/**/

/* Print layout */
/**/
@media only print {
	body {
		padding: 18px !important;
	}
	
	#wrapper {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
	
	#body,
	#content {
		float: none;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
	
	#am,
	#header,
	#header_nav,
	#sidebar,
	#footer_boxes,
	#footer_nav,
	#footer {
		display: none;
	}
}
/**/