#footer_nav,
#footer {
	border-top: solid 1px #bbb;
	padding: 6px 0;
}

#footer_nav + #footer {
	border-top: 0px;
	padding: 0 0 6px 0;
}

.header {
	background: #4169e1;
	color: #fff;
}

.header a {
	color: #fff;
}

.header_nav {
	background: #000;
	color: #fff;
}

.header_nav a {
	background: #000;
	color: #ddd;
	text-decoration: none;
	padding: 3px 6px;
	border: solid 1px #808080;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.header_nav a:hover, .header_nav a:active {
	color: #fff;
	border: solid 1px #ddd;
}

.meta_nav li,
.meta_nav a,
.meta_nav a:hover,
.meta_nav a:active {
	background: transparent;
	color: inherit;
	border: none;
	padding: 0;
}

.widget h2,
.footer_box h2 {
	margin: 6px 0;
	padding-bottom: 3px;
	border-bottom: dotted 1px #808080;
}
